---
# handlers file for install_node_exporter

- name: Reload firewall after changes
  systemd:
    name: firewalld.service
    state: reloaded

- name: Reload_daemon_and_restart_node_exporter
  systemd:
    name: node_exporter
    state: restarted
    daemon_reload: yes
    enabled: yes
